<html lang="en">
<head>
    <title>profile Page</title>
</head>
<body>
    <h1>This is a Profile page</h1>
    <h3><%= user.name%></h3>
    <h3><%= user.email%></h3>
    <h3><%= user.age%></h3>

</body>
</html>